  
.form{
    width: 700px;
    margin:auto;
    padding-top: 10px;
    border-radius: 5px;
}





body{
    
    background-image:url(imagens/tela_f2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: black;
    
}

.card-group >input{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-position: center;
    border-radius: 5px;
    outline: 0;
    width: 40%;
    color: rgb(20, 21, 22);
    padding: 5px;
}


.card-gr > button{
    background-color: white;
    width: 20%;    
    border-radius: 5px;
    color:black;
    border: 10px;
    outline: 10px;
    padding: 15px;
    font-family:arial black;
}


.card-top{
    padding-top: 1px;
    text-align: center;
    font-size: 18px;
    font-family:helvetica;
    }
.card-top1{
    text-align:left;
    font-size: 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white
    
}
.borda_texto{
    font-family: monospace;
    text-align: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(10, 0, 0);
    font-size: 3em; color:white;
    }

tr {
    border: 1px solid black;
    border-left-width: 1;
    min-width: 80px;
    height: 5px;
    color:black;
    background-color:white ;
    text-align: center;
}
.card-top1{
    text-align:left;
    font-size: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white
    
    
    
}

input[type=button]{
    width: 90px;
    height:30px ;
    background-color: darkred;
    border-radius: 0px;
    outline: 0;
    color: white;

}